@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body{
    background-image: url('backgroundmap.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100%;
}

img {
    z-index: 2; 
    margin-top: 10%;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} 


p {
    text-align: center;
    vertical-align: middle;
    font-family: 'Poppins';
    color: white;
    align-items: center;
    width: 40%;
    margin-top: 10%;
    font-size: 1.25rem;

}

h2{
    text-align: center;
    vertical-align: middle;
    font-family: 'Poppins';
    color: white;
    margin-top: 20%;

 
}

.indice{

    font-family: 'Poppins';
    font-size: 1rem;
    height: 4.5rem;
    width: 16rem;
    color: #7678ED;
    border-radius: .75rem;
    border-style: none;
    margin-top: 10%;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);
}

.retour{
    height: 3rem;
    width: 3rem;
    background-color: #7678ED;
    border-style: none;
    border-radius: 5rem;
    margin-right: 80%;
    margin-top: 10%;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);
}

.fleche{

    margin-top: 0%;
    margin-left: 20px;
    margin-right: -40px;
}

.background{

    background-image: image("images/carte.svg");
    background-size: cover ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
